{% extends "base.html.twig" %}

{% block title 'About Us | '~ parent() %}

{% block body %}
	<img src="{{asset('images/logobasket.jpg')}}" alt="Logo basket" width=150 class= "h-32 my-12 rounded-full shadow-md">
	<h1>Built with <span class="text-pink-500" >&hearts;</span> by SAITAMA PIPINO</h1>
	<p class="mt-5">
		<a href=" {{path('app_home')}} "  
            class="text-indigo-500 hover:text-indigo-600 underline">Revenir à la page d'accueil
        </a>
	</p>
{% endblock %}
