{% extends "base.html.twig" %}

{% block title 'Hello city !' %}

{% block body %}
    <img src="{{asset('images/drapeau.png')}}"  alt="Drapeau du Bénin " class="mt-12 rounded shadow-md">
    <h1 class="my-5 text-3xl sm:text-5xl font-semibold text-yellow-600"> Hello from Bénin!</h1>

    <p class="text-lg text-gray-800"> It's currenlty {{'now'|date('h:i A', 'Europe/Paris')}} </p>

    
{% endblock %}